* {
  box-sizing: border-box;
}

:root {
  --primary-color: #061731;
  --secondary-color: blanchedalmond;
  --link-hover-color: lightsalmon;
  --header-color: #040d1b;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;


}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
header {
  background-color: var(--header-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header h1 {
  font-weight: bold;
  padding: 0 0 5px 0;
}

header h1 span {
  display: none;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  color: var(--link-hover-color);
}


.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-position-y: 63%;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100px;
 color: var(--link-hover-color);
}

.hero-banner div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

}


#avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}


@media screen and (min-width: 1400px)  {
  header h1 span {
    display: inline;
  }

}

@media screen and (max-width: 700px)  {
  body {
    background-color: red;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

}